doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/ace-builds/src/ace.js')
    script(src='/bower_components/ace-builds/src/theme-twilight.js')
    script(src='/bower_components/ace-builds/src/mode-javascript.js')
    script(src='/bower_components/lodash/dist/lodash.min.js')
    script(src='/bower_components/esprima/esprima.js')
    script(src='/javascripts/main.js')
    script(src='/bower_components/handlebars/handlebars.min.js')
  body
    block content
